h1{ color:lightgrey;
 background-color: grey;
 align: left;
padding-top:2%;
padding-bottom:2%;
  }
.menu
{margin-left: 1%;
padding-left: 5%;
padding-bottom: 5%;
margin-bottom:2%;
}
.col-sm-8
{ border-left: 1px solid;
border-color: lightgrey;
}
.t1{
border:3px solid;
border-color: lightgrey;
font-size:15px;
margin-top:5%;
margin-left:2%;
padding-top:5%;
padding-bottom:5%;
padding-left:5%;
padding-right:5%;
}
.t2{
border:3px solid;
border-color: lightgrey;
font-size:15px;
margin-top:2%;
margin-left:2%;
padding-top:5%;
padding-bottom:5%;
padding-left:5%;
padding-right:5%;
margin-bottom:2%;
}